/*处理form中的信息块、子表的信息块描述*/
.x-fieldset {
    border:1px solid #B5B8C8;
    padding:4px;
    margin-bottom:5px;
    display:block;
}
.xf-panel-header, .xs-panel-header {
    /*color:#15428b;*/
    font-size:12px;
    font-family:tahoma,arial,verdana,sans-serif;
	line-height: 14px;
	padding:2px;
	background-color:#d0def0;
	border:1px solid #C7C7C7;/*#ACE5C7;*/
	border-bottom:0 none;
	overflow:hidden;
	background:#eee url(../images/header-bg.gif) repeat-x;
}
.xf-panel-header {
	margin-top:5px;
}
.xf-panel-body, .xs-panel-body {
    border:1px solid #C7C7C7;
    border-top:0 none;
    overflow:hidden;
}
.xf-panel-body {
	padding:5px 5px 0 0;
}
.xf-panel-header-noborder, .xs-panel-header-noborder {
    border-width:0;
}
.xf-panel-body-noborder, .xs-panel-body-noborder {
    border-width:0;
}
.sub_panel {
	padding:5px 10px;
}
.sub_title {background-image:url( ../images/icons/button/subtitle.gif) !important;}
/*********************end subgrid******************/

/***************grid bottom total use*************/
.x-grid3-summary-row {
    border-left:1px solid #fff;
    border-right:1px solid #fff;
    color:#333;
    background: #f1f2f4;
}
.x-grid3-summary-row .x-grid3-cell-inner {
    font-weight:bold;
    padding-bottom:4px;
}
.x-grid3-cell-first .x-grid3-cell-inner {
    padding-left:16px;
}
.x-grid-hide-summary .x-grid3-summary-row {
    display:none;
}
.x-grid3-summary-msg {
    padding:4px 16px;
    font-weight:bold;
}
/***************grid bottom total use*************/

.x-tab-panel-header, .x-tab-panel-footer {border-color:#DEECFD;}/*8DB2E3*/

/*use to more sub tree node cls*/
.font-red  a span {color:#ff0000 !important;}
.font-blue a span {color:#0000ff !important;}
.font-green  a span {color:#006600 !important;}
.font-black  a span {color:#000000 !important;}
.x-list-wrap {border-bottom:1px dotted #d0d0d0;}
.tool-query {
	border:1px solid #99bbe8;
	border-width:1 1 0 1px;
	background-color:#d0def0;
    background-image:url("../images/toolbar-bg.gif");
    font:normal 12px tahoma, arial, helvetica, sans-serif  !important;
}

.x-subgrid {
	border-width:0px !important;
}
.x-fieldset {
    margin-bottom:0px !important;/* modify by tony tan */
}
.x-selectable, .x-selectable * {
    -moz-user-select:text!important;
    -khtml-user-select:text!important;
    -webkit-user-select:text!important;
}
.x-tree-node div.one-menu{
    background:#eee url(../images/menu-bg.gif) repeat-x;
    margin-top:1px;
    border-top:1px solid #ddddff;
    border-bottom:1px solid #8DB2E3;
    padding-top:2px;
    padding-bottom:1px;
}
.x-tree-node div.two-menu{
    padding-top:1px;
	margin-bottom:1px;
}
.one-menu .x-tree-node-icon {display:none;}
.two-menu .x-tree-node-icon {display:none;}
.three-menu .x-tree-ec-icon{display:none;}
.three-menu .x-tree-node-icon {background-image:url(../images/icons/fam/leaf.gif) !important;}
.main-menu-tree{background-image:url(../images/icons/button/treeroot.gif) !important;}
.top-menu-img{padding-right:16px;width:16px;height:16px;}
.top-menu-text{padding: 0 8 0 2px;color:#ffffff;font-size:12px;}

.x-grid3-filter{height:20px;border-bottom:1px solid #e2e2e2}
.x-filter{overflow:hidden;}
.x-grid3-row-alt{background-color:#ddffdd;}
.x-grid3-row-sum{background-color:#F0F0F0; border:1px solid #BCBCBC;}

.x-grid3-row-expander {
    background-image:url(../images/row-expand-sprite.png);
}
td.ux-grid-hd-group-cell {/* ux.ColumnHeaderGroup */
    background: url(../images/grid3-hrow.gif) repeat-x bottom;
}

.x-grid3-sum-head{
	background-color:#f9f9f9;
	border:1px solid #BCBCBC;
}
.x-form-empty-wrap{
	width:22px;
	height:22px;
}
.x-tool-right1 {
    background-position:0 -120px;
}
.x-tool-left1 {
    background-position:0 -105px;
}
.x-fieldset legend {
    font:normal 12px tahoma, arial, helvetica, sans-serif;
    color:#15428b;
}

.x-field-d {margin:0; text-align:center;}
.x-field-n {margin:0; text-align:right;}
.x-field-only, textarea.x-field-only {background-color:#f0f0f0;cursor:default;}/* #e9edf2 color value == opacity:.6; and font color is #000*/
.x-form-item label.x-form-item-label {
    display:block;
    float:left;
    width:100px;
    padding:3px;
    padding-left:0;
    clear:left;
    z-index:2;
    position:relative;
}

.msg-hint {
	height:22px;
	clear:both;
	color:#FF9900;
	font-size: 14px;
	font-weight:bold;
	text-align:center;
	border:0px solid #0000FF;
}
#msg-div {
    position:absolute;
    left:100px;
    top:10px;
    width:200px;
    z-index:20000;
	text-align:center;
}

.login-img {
	background-image:url(../images/login.jpg) !important;
}
.form-des-panel {
	background-image:url(../images/grid.png) !important;
}

.nav_msg_table {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	padding-top: 5px;
	bottom: 22px;
	overflow: auto;
 }
.nav_msg_notip {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	padding-top: 10px;
	padding-left: 20px;
	color: red;
	text-align: left;
}
.nav_msg_table li {
	color:#0071E1;
	padding-left: 10px;
}
.nav_msg_table a {color:#0080FF;}
.nav_wait_a {color:#0080FF;}
.nav_warn_a {color:#FF4400;}

.top_bg {
	width:100%; height:100%;
	font-family: arial, sans serif, verdana; font-size: 12px;
	background-image:url( ../images/layout-hd-bg.gif) !important;
}
.top_north {
	width:75%;
	float:right;
	text-align:right;
	padding:6 10 0 0px;
}
.top_south {
	color:#FF9900;
	float:left;
	width:20%;
	font-size: 13px;
	font-weight:bold;
	text-align:left;
	padding-top:6px;
}
.active {color:#FF9900;}
.top_btn_home{background-image:url( ../images/icons/button/btn_home.gif) !important;}
.top_btn_menu{background-image:url( ../images/icons/button/btn_menu.gif) !important;}
.top_btn_set{background-image:url( ../images/icons/button/btn_set.gif) !important;}
.top_btn_signout{background-image:url( ../images/icons/button/btn_signout.gif) !important;}
.top_btn_help{background-image:url( ../images/icons/button/btn_help.gif) !important;}

.tree_root_ext{background-image:url( ../images/icons/button/treeroot_ext.gif) !important;}
.tree_root{background-image:url( ../images/icons/button/treeroot.gif) !important;}
.tabs {background-image:url( ../images/icons/button/grid.gif) !important;}
.tab_sub {background-image:url( ../images/icons/button/sub.gif) !important;}
.tab_grid {background-image:url( ../images/icons/button/grid.gif) !important;}
.tab_form {background-image:url( ../images/icons/button/form.gif) !important;}
.tab_des{background-image:url( ../images/icons/fam/des.gif) !important;}
.btn_sub{background-image:url( ../images/icons/sub.gif) !important;}
.btn_plus{background-image:url( ../images/icons/plus.gif) !important;}

.nav_fun {background-image:url( ../images/icons/fam/nav_fun.gif) !important;}
.nav_msg {background-image:url( ../images/icons/fam/nav_msg.gif) !important;}
.nav_board {background-image:url( ../images/icons/fam/nav_board.gif) !important;}
.nav_flow {background-image:url( ../images/icons/fam/nav_flow.gif) !important;}
.nav_chart {background-image:url( ../images/icons/fam/nav_chart.gif) !important;}
.nav_result {background-image:url( ../images/icons/fam/nav_result.gif) !important;}
.nav_kpi {background-image:url( ../images/icons/fam/nav_kpi.gif) !important;}
.nav_warn {background-image:url( ../images/icons/fam/nav_warn.gif) !important;}

.msg_gg {background:url( ../images/icons/fam/msg_gg.gif) no-repeat;}
.msg_sys {background:url( ../images/icons/fam/msg_sys.gif) no-repeat;}
.msg_man {background:url( ../images/icons/fam/msg_man.gif) no-repeat;}

.function {background-image:url( ../images/icons/fam/app.gif) !important;}

.eb_mon{padding:0 20 0 50px !important; height:30px !important; background-image:url( ../images/icons/fam/mon.png) !important;}
.eb_monno{padding:0 20 0 50px !important; height:30px !important; background-image:url( ../images/icons/fam/monno.png) !important;}

.hd_attach {background:url(../images/icons/button/attach.gif) no-repeat;}
.flag_attach {background:url(../images/icons/button/attach_flag.gif) no-repeat;cursor:pointer;}
.hd_button_add {background:url(../images/icons/fam/add.gif) no-repeat;cursor:pointer;}

.eb_calc{background-image:url( ../images/icons/button/calc.gif) !important;}
.eb_stat{background-image:url( ../images/icons/button/stat.gif) !important;}
.eb_impexcel{background-image:url( ../images/icons/button/dataimp.gif) !important;}
.eb_dirprint {background-image:url( ../images/icons/button/print.gif) !important;}
.eb_setattr{background-image:url( ../images/icons/button/config.gif) !important;}
.eb_showpic{background-image:url( ../images/icons/button/album.gif) !important;}
.eb_import{background-image:url( ../images/icons/button/import.gif) !important;}
.eb_imp{background-image:url( ../images/icons/button/imp.gif) !important;}
.eb_exp {background-image:url( ../images/icons/button/exp.gif) !important;}
.eb_return {background-image:url( ../images/icons/button/return.gif) !important;}
.eb_next {background-image:url( ../images/icons/button/next.gif) !important;}
.eb_pre {background-image:url( ../images/icons/button/pre.gif) !important;}
.eb_qry {background-image:url( ../images/icons/button/qry.gif) !important;}
.eb_qryh {background-image:url( ../images/icons/button/qryh.gif) !important;}
.eb_invoke {background-image:url( ../images/icons/button/set.gif) !important;}
.eb_create_sub {background-image:url( ../images/icons/button/add.gif) !important;}
.eb_create {background-image:url( ../images/icons/button/add.gif) !important;}
.eb_create_eg {background-image:url( ../images/icons/button/add.gif) !important;}
.eb_save {background-image:url( ../images/icons/button/save.gif) !important;}
.eb_save_eg {background-image:url( ../images/icons/button/save.gif) !important;}
.eb_copy {background-image:url( ../images/icons/button/copy.gif) !important;}
.eb_copy_eg {background-image:url( ../images/icons/button/copy.gif) !important;}
.eb_delete {background-image:url( ../images/icons/button/delete.gif) !important;}
.eb_delete_eg {background-image:url( ../images/icons/button/delete.gif) !important;}
.eb_form {background-image:url( ../images/icons/button/form.gif) !important;}
.eb_audit {background-image:url( ../images/icons/button/audit.gif) !important;}
.eb_agree {background-image:url( ../images/icons/button/audit.gif) !important;}
.eb_chkw {background-image:url( ../images/icons/button/chkw.gif) !important;}
.eb_check {background-image:url( ../images/icons/button/check.gif) !important;}
.eb_query {background-image:url( ../images/icons/button/selimp.gif) !important;}
.eb_refresh {background-image:url( ../images/icons/button/refresh.gif) !important;}
.eb_down {background-image:url(../images/icons/arrow-down.gif) !important;}
.eb_up {background-image:url(../images/icons/arrow-up.gif) !important;}
.eb_empty {background-image:url(../images/icons/button/empty.gif) !important;}
.eb_add {background-image:url(../images/icons/fam/add.gif) !important;}
.eb_change {background-image:url( ../images/icons/button/change.gif) !important;}
.eb_print {background-image:url( ../images/icons/button/print.gif) !important;}
.eb_expxls {background-image:url( ../images/icons/button/expxls.gif) !important;}
.eb_upload {background-image:url( ../images/icons/button/upload.gif) !important;}
.eb_sum {background-image:url( ../images/icons/button/grid_sum.gif) !important;}
.eb_chart {background-image:url( ../images/icons/button/chart.gif) !important;}
.eb_deletegd {background-image:url( ../images/icons/button/delete.gif) !important;}
.eb_savegd {background-image:url( ../images/icons/button/save.gif) !important;}
.eb_creategd {background-image:url( ../images/icons/button/change.gif) !important;}
.eb_menu{background-image:url( ../images/icons/button/showm.gif) !important;}
.eb_select{background-image:url( ../images/icons/button/select.gif) !important;}
.eb_clear{background-image:url( ../images/icons/button/clear.gif) !important;}
.eb_cancel{background-image:url( ../images/icons/button/btn_signout.gif) !important;}
.eb_enable{background-image:url( ../images/icons/button/enable.gif) !important;}
.eb_valid{background-image:url( ../images/icons/button/validate.gif) !important;}
.eb_prop{background-image:url( ../images/icons/button/properties.gif) !important;}
.eb_win{background-image:url( ../images/icons/button/window.gif) !important;}
.eb_logout{background-image:url( ../images/icons/button/logout.gif) !important;}
.eb_online{background-image:url( ../images/icons/button/online.gif) !important;}
.eb_pass{background-image:url( ../images/icons/button/pass.gif) !important;}
.eb_addpic{background-image:url( ../images/icons/button/image.gif) !important;}
.eb_exesql{background-image:url( ../images/icons/button/btn_status.gif) !important;}
.eb_dataimp{background-image:url( ../images/icons/button/dataimp.gif) !important;}

.upload_icon{background-image:url( ../images/icons/button/image.gif) !important;}
.eb_pattach {background-image:url( ../images/icons/button/upload.gif) !important;}

/***************************form设计面板的样式***************************/
.fdes-canvas { 
	border-top:1px dashed #000000;
	border-left:1px dashed #000000;
	position:absolute;
	top:10px;
	left:10px;
	width:720px;
	height:1500px;
	z-index:0;
}

.fdes-canvas-bg { 
	position:absolute;
	top:0px;
	left:0px;
	z-index:0;
}

.fdes-grid { 
	border-right:1px dashed #7C7C7C;
	border-bottom:1px dashed #7C7C7C;
	position:absolute;
	width:120px;
	height:30px;
	z-index:0;
}

.fdes-formitem {
	-moz-opacity: 0.20;
	opacity:.20;
	filter:alpha(opacity=20);
	position:absolute;
	z-index:10;
	cursor:pointer;
	background-color:#3E3E3E;
}

.fdes-columnitem {
	-moz-opacity: 0.20;
	opacity:.20;
	filter:alpha(opacity=20);
	position:absolute;
	z-index:100;
	cursor:pointer;
	background-color:#00C400;
}

.fdes-fielditem {
	z-index:1000;
	color:#0080FF;
	font-size: 13px;
	position:absolute;
	cursor:pointer;
	background-color:#E0E0E0;
}

.fdes-fieldhidden {
	background-color:#838383;
}

.fdes-selectcomp {
	border:1px dashed #FF0000;
}

.fdes-selectdiv{
	z-index:9000;
	position:absolute;
	border:1px dashed red;
}

.x-list-selected {
	color: white;
	background-color: #15428b;
}
